{% extends 'flatpages/default.html' %}

{% block title %}
News & Articles
{% endblock title %}


{% block content %}

<h1><b> Все новости и статьи </b></h1>

<h3> {{ next_post|default_if_none:"Мы сообщим если будут новости или статьи" }} </h3>
<h3> {{ posts|length }} новостей и статей:</h3>

<hr>



    {% if posts %}
        <table>
            <tr>
                <td> Заголовок</td>
                <td> Дата публикации </td>
                <td> Текст </td>
                <td> Тип </td>
            </tr>
            {% for post in posts %}

            <tr>
                <td><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></td>
                <td> {{ post.time_in|date:'d M Y' }} </td>
                <td> {{ post.text|truncatewords:20 }} </td>
                <td> {{ post.type }} </td>

            </tr>
            {% endfor %}
        </table>

    {% else %}
        <h2> Нет новостей! </h2>
    {% endif %}

{% endblock content %}